
body{
  width: 100%;
  margin: 0em;
  font-family: 'Lato', 'Noto Sans JP', 'ヒラギノ角ゴ ProN', 'Hiragino Kaku Gothic ProN', 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
}
img{
  width: 100vw;
  position:relative;

}
h1{
  position:absolute;
  top:40px;
left:60px;
color:white;
}
.box{
  opacity:0.8;
  text-decoration:none;
  font-size:50px;
  font-weight:bold;
  padding:30px;
  border:3px solid black;
  display:inline-block;
  color:black;
  border-radius:20px;
  transition-duration: 0.5s;
}
.box:hover{
  opacity:1;
  transition-duration: 0.5s;
}
.what{
  background-color:#3eb752;
  position:absolute;
  top:400px;
left:300px;
}
.who{
  background-color:#ff8705;
  position:absolute;
  top:400px;
left:800px;
}
.how{
  background-color:pink;
  position:absolute;
  top:570px;
left:60px;
}
.money{
  background-color:yellow;
  position:absolute;
  top:570px;
left:700px;
}
.welfare{
  background-color:blue;
  position:absolute;
  top:570px;
left:1100px;
}
.entry{
  background-color:red;
  position:absolute;
  top:790px;
left:680px;
}